.posts-list {

  .post-item {
    display: flex;
    margin-bottom: 50px;

    .image-container img {
      width: 450px;
    }

    .text-container {
      padding-left: 40px;
    }

    .button.category a {
      font-size: 13px;
      padding: 5px 10px;
  }
  }
}