.posts-list {

  h1 {
    font-size: 22px;
    background-color: #ea6666;
    padding: 7px 20px;
    color: lemonchiffon;
  }

  .post-item {
    display: flex;
    margin-bottom: 50px;

    .image-container img {
      width: 450px;
    }

    .text-container {
      padding-left: 40px;
    }

    a {
      button.category {
        padding: 5px 10px;
        font-size: 13px;
      }
    }
  }
}