.posts-list {

  .post-item {
    display: flex;
    margin-bottom: 50px;

    .image-container img {
      width: 450px;
    }

    .text-container {
      padding-left: 40px;

      .category {
        background-color: #4e2f6b;
        display: inline-flex;

        &:hover, &:active {
          background-color: #ff5100;
        }

        a {
          padding: 7px 10px;
          color: #f4bea9;
        }

        a:hover, a:active {
          color: #4e2f6b;
        }
      }
    }
  }
}