.single-post {
  
  .time-ago-wrapper {
    margin-top: -5px;
    margin-bottom: 16px;
  }

  .post-image {
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
    max-width: 500px;
  }
}